
$space: 4rem;

.sui-toggle {
  display: inline-flex;
  background-color: v(color-background-700);
  position: relative;
  cursor: pointer;
  transition: background-color ease 200ms;

  input {
    display: none;
  }

  .left-icon {
    position: absolute;
    z-index: 1;
    color: $background-dark-100;
  }

  .right-icon {
    position: absolute;
    z-index: 1;
    opacity: .5;
  }

  &::after {
    content: '';
    border-radius: 50%;
    background-color: $background-light-100;
    position: absolute;
    transition: transform ease 200ms;
    top: $space;
    left: $space;
  }

  &.--active {
    background-color: v(color-primary-100);

    .left-icon {
      opacity: .5;
    }

    .right-icon {
      opacity: 1;
      color: $background-dark-100;
    }
  }

  &.--sm {
    $width: 36rem;
    $height: 20rem;
    $circle-scale: $height - ($space * 2);
    $translate: #{$width - ($space * 2) - $circle-scale};
    width: $width;
    height: $height;
    border-radius: $height / 2;

    &::after {
      width: calc(#{$height} - #{$space * 2});
      height: calc(#{$height} - #{$space * 2});
    }

    &.--active::after {
      transform: translateX($translate);
    }
  }

  &.--md {
    $width: 49rem;
    $height: 28rem;
    $circle-scale: $height - ($space * 2);
    $translate: #{$width - ($space * 2) - $circle-scale};
    width: $width;
    height: $height;
    border-radius: $height / 2;

    .left-icon {
      top: 8rem;
      left: 8rem;
    }

    .right-icon {
      top: 8rem;
      right: 8rem;
    }

    &::after {
      $circle-scale-md: $height - ($space * 2);
      width: $circle-scale-md;
      height: $circle-scale-md;
    }

    &.--active::after {
      transform: translateX($translate);
    }
  }

  &.--lg {
    $width: 64rem;
    $height: 36rem;
    $circle-scale: $height - ($space * 2);
    $translate: $width - ($space * 2) - $circle-scale;
    width: 64rem;
    height: $height;
    border-radius: $height / 2;

    .left-icon {
      top: 10rem;
      left: 10rem;
    }

    .right-icon {
      top: 10rem;
      right: 10rem;
    }

    &::after {
      width: $circle-scale;
      height: $circle-scale;
    }

    &.--active::after {
      transform: translateX($translate);
    }
  }
}
