
@include generateThemeVariables((
  app-background: (light: $light-900, dark: $dark-900),
  app-text: (light: $dark-900, dark: $light-900),
  app-text-secondary: (light: $dark-700, dark: $light-700),
  app-text-hint: (light: $dark-300, dark: $light-300),
  app-text-link: $primary-900,
  app-text-disabled: (light: $dark-700, dark: $light-700),
  app-border: (light: rgba($dark-900, .2), dark: rgba($light-900, .2)),

  app-primary: $primary,
  app-primary-500: $primary-500,
  app-primary-600: $primary-600,
  app-primary-700: $primary-700,
  app-primary-800: $primary-800,
  app-primary-900: $primary-900,

  app-danger: $danger,
  app-danger-500: $danger-500,
  app-danger-600: $danger-600,
  app-danger-700: $danger-700,
  app-danger-800: $danger-800,
  app-danger-900: $danger-900,

  app-success: $success,
  app-success-500: $success-500,
  app-success-600: $success-600,
  app-success-700: $success-700,
  app-success-800: $success-800,
  app-success-900: $success-900,
));

:root {
  @include generateVariables((
    // form
    // ---------------------------
    form-focus-state: 0 0 0 3rem rgba($primary-900, .4),
    form-focus-state-inset: inset 0 0 0 .3rem rgba($primary-900, .4),
    form-focus-state-dark: 0 0 0 3rem rgba(255, 255, 255, .4),
    form-focus-state-dark-inset: inset 0 0 0 3rem rgba(255, 255, 255, .4),
    form-transition-duration: 200ms,
    form-height-sm: 28rem,
    form-height-md: 36rem,
    form-text-sm: 12rem,
    form-text-md: 14rem,
    form-padding-sm: 12rem,
    form-padding-md: 16rem,

    border-radius-xl: 24px,
    border-radius-lg: 14px,
    border-radius-md: 8px,
    border-radius-sm: 6px,


    // box-shadow
    // ---------------------------
    box-shadow-l1: 0 10px 30px -24px #{darken(#fff, 30%)},
    box-shadow-l2: 0 10px 40px -24px #{darken(#fff, 33%)},
    box-shadow-l3: 0 16px 50px -24px #{darken(#fff, 36%)},

    // border-radius
    // ---------------------------
    border-radius-l1: 6rem,
    border-radius-l2: 10rem,
    border-radius-l3: 14rem,
  ));
}
