$line-height: 1.625;

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  margin: 0 0 12rem 0;
  padding: 0;
  line-height: 1;

  .sub-text {
    font-size: .75em;
    font-weight: 400;
  }
}

h1 {font-size: 32rem;}
h2 {font-size: 27rem;}
h3 {font-size: 23rem;}
h4 {font-size: 20rem;}
h5 {font-size: 17rem;}
h6 {font-size: 14rem;}

code {
  background-color: var(--#{$root-prefix}-color-type-code-bg);
  color: var(--#{$root-prefix}-color-type-code-text);
  border-radius: 4rem;
  padding: 1rem 6rem;
  font-size: inherit;
  line-height: $line-height;
  font-family: $base-font-family-mono;
  font-variant-ligatures: normal;
}

pre {
  font-family: $base-font-family-mono;
  font-variant-ligatures: normal;
  border-radius: 4rem;

  code {
    padding: 0;
  }
}

p {
  font-size: 16rem;
  line-height: $line-height;
  margin-bottom: 16px;
}

ul, ol {
  margin-bottom: 16rem;
}
