@use 'sass:map';
@use 'sass:math';
@import "../variables/variables";
@import "../variables/utility";

$breakpoints: (
  sm: 576,
  md: 768,
  lg: 992,
  xl: 1200,
  xxl: 1400,
);

@function getBp($bp) {
  @return map.get($breakpoints, $bp) * 1rem;
}

@mixin bp($minWidth, $minHeight: null) {
  @media (min-width: #{math.div(map.get($breakpoints, $minWidth), 100) * $root-font-size}em) {
    @content;
  }
}
