.sui-nav-button {
  color: var(--book-color-header-links-text);
  font-weight: 500;
  border-radius: var(--#{$root-prefix}-form-border-radius);
  padding: 0 12rem;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  font-size: 14rem;
  height: var(--#{$root-prefix}-form-height);
  line-height: 1;
  border: solid 2rem transparent;
  transition: box-shadow var(--#{$root-prefix}-form-transition-duration) ease,
  border var(--#{$root-prefix}-form-transition-duration) ease,
  background-color var(--#{$root-prefix}-form-transition-duration) ease,
  color var(--#{$root-prefix}-form-transition-duration) ease,
  transform 100ms ease;

  &.block {
    width: 100%;
    display: flex;
  }

  .icon-left {
    margin-right: 8rem;
  }


  &:focus {
    outline: none;
    box-shadow: var(--#{$root-prefix}-form-focus-state);
  }

  &:active {
    transform: scale(.94);
  }

  &:hover {
    background-color: rgba(#000, .1);
    text-decoration: none;
  }

  &.active {
    background-color: rgba(#000, .1);
  }
}
