@use 'sass:map';
@import "library/styles/variables";

// USE CASES
$use-cases: (
  type: (
    type-code-bg: (
      light: $background-light-200,
      dark: rgba(0,0,0,.4),
    ),
  ),

  input: (
    input-border: (
      light: $blue-shade-400,
      dark: $blue-shade-400,
    ),
    input-bg: (
      light: $white,
      dark: 'transparent',
    ),
    input-text: (
      light: $background-dark-900,
      dark: $background-light-300,
    ),
  ),

  tab: (
    tab-button-hover-bg: (
      light: rgba($background-dark-900, .08)
    ),
    tab-button-active-bg: (
      light: rgba($blue, .1),
    ),
  ),

  form: (
    form-error-message-text: (
      light: $paradise-pink,
    ),
  ),
);
