@use "sass:map";
@import "color-utils";

// colors
$blue: #1E5EFF;
$blue-ribbon: #0045F5;
$paradise-pink: #EC4067;
$sun-glow: #ffbf1e;
$cadet-blue: #51A3A3;

// grey dark
$grey-dark-900: #0f1215;
$grey-dark-800: #181a1d;
$grey-dark-700: #202225;
$grey-dark-600: #292b2e;
$grey-dark-500: #313336;
$grey-dark-400: #3a3c3f;
$grey-dark-300: #434548;
$grey-dark-200: #4c4f52;
$grey-dark-100: #56585b;

// grey light
$grey-light-900: #b8bdc1;
$grey-light-800: #c0c5c8;
$grey-light-700: #c8ccd0;
$grey-light-600: #d0d4d7;
$grey-light-500: #d8dcdf;
$grey-light-400: #e0e3e6;
$grey-light-300: #e8ebed;
$grey-light-200: #f0f2f5;
$grey-light-100: #f8fafc;

// blue shade
$iceberg: #8FABCC;
$rock-blue: #9DB6D2;
$pigeon-post: #ABC0D8;
$light-steel-blue: #B9CBDF;
$beau-blue: #C7D6E6;
$botticelli: #D5E0EC;
$alice-blue: #E3EAF2;
$cultured: #F1F5F9;
$catskill-white: #F8FAFC;
$white: #FFFFFF;


// shades
$deep-champagne: #FDDAAF;
$linen: #FFF3E6;
$bright-lilac: #CC9EFF;
$lavender-web: #F5EDFF;
$uranian-blue: #A6DFFE;
//$alice-blue: #E4F5FF;