@use "sass:map";

$root-font-size: 6.25;
$root-font-size-percent: $root-font-size * 1%;

$base-font-family: 'inter', 'Helvetica', 'Arial', sans-serif;
$base-font-family-mono: Hack, mono;
$base-font-size: 14rem;
$base-font-weight: 400;
$base-line-height: 1.4;
$base-border-radius: 10rem;
$base-transition-duration: 200ms;
