
@include generate((
  menu-bg: (light: $blue-shade-400, dark: $blue-ribbon),
));

.menu {
  padding-top: 40rem;
  height: 100%;
  width: 300rem;
  background-color: var(--sui-color-menu-bg);
}

[data-test="something"] {
  background-color: red;
}

.nav {
  padding: 0 16rem;

  > * {
    margin-bottom: 8rem;
  }
}
