
.sui-button {
  color: v(color-text);
  font-family: inherit;
  font-weight: 600;
  background-color: inherit;
  border: 0;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  transition: box-shadow v(form-transition-duration) ease,
  background-color v(form-transition-duration) ease,
  color v(form-transition-duration) ease,
  transform 100ms ease;
  transform: scale(1);
  -webkit-font-smoothing: antialiased;

  &:hover {
    text-decoration: none;
  }

  &:focus {
    outline: none;
    box-shadow: v(form-focus-state);
  }

  &:active {
    transform: scale(.94);
  }

  // icons
  // ---------------------------
  &.--icon-only {
    height: v(form-height-md);
    width: v(form-height-md);
    padding: 0;
    align-items: center;
    justify-content: center;
  }

  // BLOCK
  // ---------------------------
  &.--block {
    display: block;
    width: 100%;
  }

  // sizes
  // ---------------------------
  &.--sm {
    height: v(form-height-sm);
    line-height: v(form-height-sm);
    padding: 0 v(form-padding-sm);
    font-size: v(form-text-sm);
    border-radius: v(form-border-radius-sm);
  }

  &.--md {
    height: v(form-height-md);
    line-height: v(form-height-md);
    padding: 0 v(form-padding-md);
    font-size: v(form-text-md);
    border-radius: v(form-border-radius-md);
  }

  &.--lg {
    height: v(form-height-lg);
    line-height: v(form-height-lg);
    padding: 0 v(form-padding-lg);
    font-size: v(form-text-lg);
    border-radius: v(form-border-radius-lg);
  }

  // DEFAULT
  // ---------------------------
  &.--default {
    background-color: rgba(v(color-background-rgb), .1);

    &:hover {
      background-color: rgba(v(color-background-rgb), .2);
    }

    &:focus {
    }

    &.--outline {
      background-color: transparent;
      border: solid 1rem v(color-border);
    }
  }

  // PRIMARY
  // ---------------------------
  &.--primary {
    background-color: v(color-primary-100);
    color: v(color-text-light);

    &:hover {
      background-color: v(color-primary-200);
    }

    &:focus {
      box-shadow: v(form-focus-state);
    }

    &:active {
    }

    &.--outline {
      background-color: transparent;
      border: solid 1rem v(color-primary-100);
      color: v(color-primary-100);
    }
  }

  // DANGER
  // ---------------------------
  &.--danger {
    background-color: v(color-danger);
    color: v(color-text-light);

    &.--outline {
      background-color: transparent;
      border: solid 1rem v(color-danger);
      color: v(color-danger);
    }
  }


}
