
.sui-button {
  font-family: inherit;
  font-weight: 600;
  background-color: inherit;
  border: 0;
  border-radius: v(border-radius-l2);
  height: v(form-height);
  padding: 0 16rem;
  font-size: inherit;
  line-height: v(form-height);
  text-decoration: none;
  display: inline-flex;
  transition: box-shadow v(form-transition-duration) ease,
  background-color v(form-transition-duration) ease,
  color v(form-transition-duration) ease,
  transform 100ms ease;
  transform: scale(1);
  -webkit-font-smoothing: antialiased;

  &:hover {
    text-decoration: none;
  }

  &:focus {
    outline: none;
    box-shadow: v(form-focus-state);
  }

  &:active {
    transform: scale(.94);
  }

  &.sui-button--icon-only {
    height: v(form-height);
    width: v(form-height);
    padding: 0;
    align-items: center;
    justify-content: center;
  }

  // DEFAULT
  &.sui-button--default {
    border: solid 1rem v(color-button-default-border);
    color: v(color-button-default-text);

    &:hover {
      background-color: v(color-button-default-bg);
    }

    &:focus {
      border-color: v(color-button-default-focus-border);
    }
  }

  // PRIMARY
  &.sui-button--primary {
    background-color: v(color-primary-100);
    color: v(color-text-light);

    &:hover {
      background-color: v(color-primary-200);
    }

    &:focus {
      box-shadow: v(form-focus-state);
    }

    &:active {
    }
  }

  // SECONDARY
  &.sui-button--secondary {
    background-color: v(color-button-secondary-bg);
    color: v(color-button-secondary-text);

    &:hover {
      background-color: v(color-button-secondary-hover-bg);
    }
  }

  // DANGER
  &.sui-button--danger {
    background-color: v(color-button-danger-bg);
    color: v(color-button-danger-text);
  }

  // FLAT
  &.sui-button--flat {
    color: v(color-button-flat-text);

    &:hover {
      background-color: v(color-button-flat-hover-bg);
    }
  }

  &.sui-button--block {
    display: block;
    width: 100%;
  }

  &.sui-button--small {
    height: v(form-height-sm);
    line-height: v(form-height-sm);
    padding: 0 8rem;
    font-size: 12rem;


    &.sui-button--icon-only {
      width: v(form-height-sm);
      padding: 0;
    }
  }
}
