@use "sass:map";

// stem styles
@import "src/styles/global/_global";
@import "src/styles/variables/color";
@import "src/styles/variables/utility";

// code styles
@import "./code/coldark-dark";
@import "./code/coldark-light";


// generate colors from use-cases
$colorMap: generateColors((
  book: (
    'header-bg': (light: $beau-blue, dark: $woodsmoke),
    'app-color': (light: $charleston-green, dark: $white),
    'menu-bg': (light: $alice-blue, dark: $gunmetal),
    'menu-logo': (light: $yInMnBlue, dark: $white),
  ),
  header: (
    'header-links-text': $yInMnBlue,
  ),
  display: (
    'display-border': (light: $cadet-blue),
  ),
), 'book-color');

:root {
  @include var-utility();
}

:root[data-theme="light"] {
  @include var-color-light();
  @include placeColors(map.get($colorMap, 'light'));
}

:root[data-theme="dark"] {
  @include var-color-dark();
  @include placeColors(map.get($colorMap, 'dark'));
}

body {
  color: var(--sui-color-app-primary-text);
}
